.main-card {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 70px 80px 0px;
    height: 600px;
    background-color: #ffffff;
  }
  body {
    background-image: url("images/main.jpg");
    background-size: cover;
  }

  .top-header{
      margin: 5px; 
      display: flex; 
      justify-content: flex-end;
  }

  .search-bar input[type=text] {
    border-radius: 25px;
   }
  